<ion-header>
  <ion-toolbar class="menu-toggle-change-color">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher *ngIf="showSpinner === false" (ionRefresh)="refreshBluetooth($event)" slot="fixed">
    <ion-refresher-content refreshingText="{{ 'BLUETOOTH.SEARCHING' }}">
    </ion-refresher-content>
  </ion-refresher>
  <div [hidden]="showSpinner === false" text-center>
    <ion-spinner></ion-spinner><br>
    {{ "BLUETOOTH.SEARCHING" }}
  </div>

  <ion-list lines="full" *ngIf="listToggle">
    <ion-item button (click)="selectDevice(device)" *ngFor="let device of devices">
      <ion-text>
        <h3>{{ "BLUETOOTH.NAME" }}: {{device.name}}</h3>
        <p>{{ "BLUETOOTH.ID"  }}: {{device.id}}</p>
        <p>{{ "BLUETOOTH.ADDRESS"  }}
          <span [hidden]="device.address == undefined">mac</span>
          <span [hidden]="device.uuid == undefined">uuid</span>
          {{device.address}} {{device.uuid}}
        </p>
      </ion-text>
    </ion-item>
  </ion-list>
  <div><button (click)="search()">search</button></div>
 
 
</ion-content>
