<div class="dialogue">
      <div class="view1">
            <div class="canvasV">
                  <canvas [ngClass]="'vertical'+ keyData.id" ></canvas>
            </div>
            <div class="kayDetail">
                  <h1 class="keyname">{{keyData.name}}</h1>
                  <div>
                        <p class="freq">{{displayFreq}} hz</p> 
                        <span class="freq" >
                              <p class="uparrow" (click)="increaseFreq()"></p><br>
                              <p class="downarrow"  (click)="decreaseFreq()"></p>
                        </span> 
                  </div>

            </div>      
      </div>
      <canvas [ngClass]="'canvas ' + 'visualizer'+ keyData.id" style="background: url('assets/img/ruler.jpg')" ></canvas>
</div>
