<div class="inmenu">
  <div *ngIf="show" class="saveitem">
    <ion-item class=" closed demo" >
      <ion-label color="white" position="floating">{{"ENTER_NAME" | translate}}</ion-label>
      <ion-input color="white" maxlength="20" placeholder-color="white" [(ngModel)] = 'name'></ion-input>
    </ion-item>
    <button item-right class="demo saveButton" (click)="save()">{{"SAVE" | translate}}</button>
    
  </div>
  <div class="temp">
    <div class="savebox box" *ngIf="showSave">
      <div>
        <h3 (click)="openInput()">{{"SAVE_TEMPERAMENT" | translate}}</h3>
      </div>
    </div>
    <div class="changebox box">
      <h3 (click)="openTemperament()">{{"CHANGE_TEMPERAMENT" | translate}}</h3>
    </div>
    <p class="current"><b> {{"CURRENT_TEMPERAMENT" | translate}}</b></p>
    <p class="current">{{currentTempo}}</p>
  </div>
  
</div>