<div class="inmenu">
  
  <div  class="saveitem">
    <div class="currentTemp toparea" *ngIf="!show">
      <p class="current"><b> {{"CURRENT_TEMPERAMENT" | translate}}</b></p>
      <p class="current">{{currentTempo}}</p>
    </div>
    <ion-item class=" closed toparea" *ngIf="show">
      <ion-label color="white" position="stacked">{{"ENTER_NAME" | translate}}</ion-label>
      <input class="input" color="white" background="yellow" maxlength="20" placeholder-color="white" placeholder="New Name" [(ngModel)] = 'name' />
    </ion-item>
    <button *ngIf="showSave" item-right class="demo saveButton" (click)="save()">{{"SAVE" | translate}}</button>
    
  </div>
    <div class="buttomBut">
      <ion-button (click)="exportSetting()" >{{"EXPORT" |translate}}</ion-button><br>
        <ion-button (click)="importSetting()" >{{"IMPORT" |translate}}</ion-button><br>
        <ion-button (click)="openTemperament()">{{"CHANGE" | translate}}</ion-button>
      </div>
  
</div>