<ion-content>
  <div class = "links">      
    <ul class="set">
      <span *ngFor="let k of keyboardData; index as i">      
      <li  [ngClass]="'key'+i +' list '+ k.color" [style.height.px]="(k.color == 'white')?HEIGHT:(HEIGHT*0.6)" [style.margin-left.px]="(i == 0 || k.color == keyboardData[i-1].color )?0:-16" #list (click)="onPianoKeyPress($event,i)" >{{k.name}}</li>     
      <li><ng-template #dialogue class="dialogue"></ng-template></li>
    </span>
    </ul>    
  </div>
</ion-content>
